extends app

block TIDORY
  s_t3
    #__tidory
      include views/Header
      include views/List

  style.
    #__tidory {
      width: 100vw;
      overflow-y: scroll;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
