-
  const guidebook = [
    { text: "featured",  href: "https://tidory.com/docs/get-started" },
    { text: "preheat",  href: "https://tidory.com/docs/directory" },
    { text: "thoughts",  href: "https://tidory.com/docs/template" },
    { text: "postscripts",  href: "https://tidory.com/docs/framework" },
  ];

nav
  ul
    each guide in guidebook
      li: a(href=guide.href)=guide.text

style.
  header > nav {
    margin-top: 45px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  header > nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  header > nav li {
    display: inline-block;
    letter-spacing:1px;
    text-transform: uppercase;
   }
  header > nav a {
    font-size: 0.9em;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-blur);
    transition-duration: 0.3s;
  }
  header > nav a:hover {
    color: var(--color);
  }
