.descPlacer
  .descWrapper
    .borderOnTop
      h3 Behind the scenes
      h3 5 writings
    .borderOnTop
      h3 THOUGHTS BEHIND A JOURNEY OF DESIGNING AND
      h3 500 visitors
    .borderOnTop
      h3 CREATING NEW EXPERIENCES, FROM SEUNGMEE LEE
      h3 5 writings


style.
  .descPlacer{
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
  }

  .descWrapper{
    width:50vw;
    display:flex;
    flex-direction:column;
    font-weight:400;
    font-size:0.8em;
    text-transform:uppercase;
    gap:3px;
  }

  .borderOnTop{
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-top:1.5px solid black;
  }

  .borderOnTop > h3{
    font-weight:400;
    letter-spacing:1px;
    margin-top:3px;
  }
